# Dependências
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.pnpm-debug.log*

# Variáveis de ambiente
.env
.env.*
!.env.example
src/config/env/.env.*
!src/config/env/.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Cobertura de testes
coverage/
.nyc_output/
*.lcov

# Arquivos de build
dist/
build/
out/

# Cache
.cache/
.webpack/
.next/
.nuxt/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.docz/
.eslintcache

# Arquivos temporários
tmp/
temp/
.temp/
.tmp/

# Arquivos do IDE/Editor
.idea/
.vscode/
*.code-workspace
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.sublime-project
.DS_Store
Thumbs.db
.directory
*~
*.swp
*.bak
*.tmp
*.orig

# Arquivos específicos do sistema operacional
.DS_Store
Thumbs.db
.directory
Desktop.ini
$RECYCLE.BIN/
ehthumbs.db
ehthumbs_vista.db
*.stackdump

# Arquivos de deploy
.vercel
.netlify
netlify.toml
now.json
.firebaserc
firebase.json

# Arquivos específicos da aplicação
config.json
credentials.json
.sentryclirc
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de banco de dados
*.sqlite
*.sqlite3
*.db

# Arquivos de upload
uploads/

# Arquivos de credenciais
*.pem
*.key
*.p8
*.p12
*.pfx
*.cer
*.crt

# Arquivos específicos AWS
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json